.section{
  padding: 20px 100px 20px 200px;
}

.sectionTitle {
  font-size: 50px;
  margin-bottom: 30px;
}

.global{
  background-image: url(../../images/global.webp);
  background-repeat: no-repeat;
  background-position: top 50px right 100px;
  background-size: 700px;
  min-height: 400px;
}

.about{
  background-image: url(../../images/covid.webp);
  background-repeat: no-repeat;
  background-position: top 0px right 100px;
  background-size: 600px;
}