body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  background: #313e4c;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
} 

/* Styles for section */
.section{
  padding: 20px 100px 20px 200px;
}

.sectionTitle {
  font-size: 40px;
  margin-bottom: 30px;
}

/* Styles for navigation */
.navLink {
  text-decoration: none;
  color: #ffffff;
}

.navActiveLink {
  color: #00bfff;
}

/* Styles for infoPage */
.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.itemNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 35px;
  background: #D6E2E2;
  border-radius: 50px;
  font-size: 14px;
  margin-bottom: 20px;
  color:#313e4c;
}
.itemTitle{
  margin-bottom: 20px;
  font-size: 20px;
}
.itemDescr{
  margin-bottom: 20px;
}

/* Styles for datepicker */
.datePickerBox {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-bottom: 30px;
}
.datePicker {
  background-color: transparent;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 4px;
  color: #ffffff;
  height: 54px;
  padding-left: 14px;
  font-size: 14px;
}

.datePicker:hover,
.datePicker:focus-visible,
.datePicker:focus{
  border-color: #1976d2;
}


.searchForm {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 590px;
}

.dataPickerTitle {
  font-size: 12px;
  position: absolute;
  background-color: #313e4c;
  top: -8px;
  left: 8px;
  z-index: 2;
  padding: 0 5px;
}

.dataPickerWrapper {
  position: relative;
}

/* Styles for footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  
  background-color: #24222b;
  z-index: 1201;
}

.footerText {
  font-size: 9px;
  color: #ffffff;
  text-align: center;
  width: 170px;
}

.footer svg {
  width: 12px;
}